<a href="https://colab.research.google.com/github/Zaine-eng/Python-pandas-numpay-matplotlib/blob/main/Estudo07_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Tuplas**

É uma lista que não pode ser alterada.

In [2]:
lista = [2, 3, 6, 7]
lista[0]
lista[1] = 8
print(lista)

[2, 8, 6, 7]

Note que na lista acima podemos fazer alterações, com a tupla isso não acontece, veremos com detalhes no código abaixo.

Lembre-se o parêntese no python indica a tupla.

In [3]:
tupla = (3, 2, 4, 5)
tupla[0]

3

Veja que, conseguimos visualizar o valor, porém não podemos trocar o valor como fizemos na lista acima.

In [4]:
tupla[0] = 8

TypeError: ignored

Veja, recebeu uma mensagem de erro avisando que você não pode fazer isso, pois, a tupla é um objeto que não suporta a atribuição de itens.

Usando o comando del,na lista.

In [7]:
del lista[2]
print(lista)

[2, 8]

E se resolvermos fazer com a tupla?

In [8]:
del tupla[0]
print(tupla)

TypeError: ignored

Veja que também acontece o erro e assim não conseguimos deletar o elemento do índice 0 da tupla.

E se fossemos para o .append ? Também não funcionaria.

E se quisessemos tranformar uma lista em uma tupla, o que faríamos:

In [11]:
nova_tupla = tuple(lista)

print(nova_tupla)

(2, 8)

In [12]:
type(nova_tupla)

tuple

Qual a vantagem de tuplas? 

Além das tuplas ocuparem menos memória que as listas, você pode precisar que em determinado local do seu código não venha a ter alterações, que fique na mesma ordem.

Quando você quer reconhecer um só número como tupla é necessário usar uma vírgula.

Exemplo:

In [13]:
numero = (3)

In [14]:
type(numero)

int

In [15]:
numero0 = (3,)

In [16]:
type(numero0)

tuple



---