<a href="https://colab.research.google.com/github/Zaine-eng/Python-pandas-numpay-matplotlib/blob/main/Estudo03_biblioteca_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **3. Manipulação de colunas em um dataframe pandas**

In [ ]:
import pandas as pd

In [37]:
dados = pd.read_csv('/content/athlete_events.csv')

Para visualizar o arquivo usamos head()

In [38]:
dados.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

Informações gerais sobre o arquivo csv - olimpiadas/atletas.

In [41]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Sport   271116 non-null  object
 10  Event   271116 non-null  object
 11  Medal   39783 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 24.8+ MB

Mudando os nomes das colunas.

In [31]:
dados.rename(columns={'Name': 'Nome', 'Sex': 'Sexo', 'Age': 'Idade'}, inplace = True)

In [ ]:
altura = dados['Height']

In [ ]:
altura.head()

0    180.0
1    170.0
2      NaN
3      NaN
4    185.0
Name: Height, dtype: float64

In [ ]:
type(altura)

pandas.core.series.Series

Abaixo vamos saber quantas vezes os valores aparecem, como por exemplo, para as medalhas, se é ouro, prata ou bronze.

In [ ]:
dados['Medal'].value_counts()

Gold      4268
Bronze    4175
Silver    4157
Name: Medal, dtype: int64

Quantos atletas competiram em cada cidade ?

In [22]:
dados['City'].value_counts()

London                    7627
Athina                    4986
Rio de Janeiro            4602
Los Angeles               4425
Sydney                    4417
Beijing                   4399
Atlanta                   4386
Barcelona                 4319
Seoul                     4075
Munich                    3352
Mexico City               2945
Montreal                  2936
Roma                      2842
Helsinki                  2754
Paris                     2624
Tokyo                     2475
Moskva                    2434
Berlin                    2106
Amsterdam                 1670
Melbourne                 1500
Sochi                     1481
Antwerpen                 1477
Stockholm                 1423
Torino                    1324
Salt Lake City            1258
Vancouver                 1227
Innsbruck                 1123
Albertville               1105
Nagano                    1104
Lillehammer                984
Calgary                    843
Lake Placid                677
Sarajevo                   654
Grenoble                   590
Sankt Moritz               559
Sapporo                    521
Cortina d'Ampezzo          471
St. Louis                  423
Oslo                       379
Squaw Valley               351
Garmisch-Partenkirchen     292
Chamonix                   143
Name: City, dtype: int64

In [23]:
dados['Sexo'].value_counts()

M    66027
F    23256
Name: Sexo, dtype: int64

In [24]:
dados.describe()

                 ID         Idade        Height        Weight          Year
count  89283.000000  85938.000000  68625.000000  67567.000000  89283.000000
mean   22910.426498     25.625672    175.559301     70.935412   1977.741832
std    12979.158701      6.453792     10.392730     14.169830     30.118858
min        1.000000     11.000000    127.000000     25.000000   1896.000000
25%    11749.000000     21.000000    168.000000     61.000000   1960.000000
50%    23002.000000     25.000000    175.000000     70.000000   1984.000000
75%    34252.500000     28.000000    183.000000     79.000000   2002.000000
max    45248.000000     88.000000    223.000000    214.000000   2016.000000

Excluindo uma coluna usando drop()

Lembre-se que axis = 1 significa coluna e axis= 0 significa linha.

In [39]:
dados.drop('Season',axis =1 , inplace =True)
dados.drop('City',axis =1 , inplace =True)
dados.drop('Year',axis =1 , inplace =True)

Observe que qcomo solicitamos abaixo as colunas solicitadas foram excluidas.

In [40]:
dados.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,Speed Skating,Speed Skating Women's 500 metres,NaN



---