<a href="https://colab.research.google.com/github/Zaine-eng/Python-pandas-numpay-matplotlib/blob/main/Estudo06_Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Listas**

Estrutura da lista

In [4]:
lista1 = [1, 2, 3]

In [5]:
type(lista1)

list

In [10]:
lista2 = [[1,2,3],[2, 3, 4],[2,5,7]]
print(lista2)

[[1, 2, 3], [2, 3, 4], [2, 5, 7]]

Desejo o elemento do indice por exemplo:

In [12]:
lista1[0]

1

In [14]:
lista2[2]

[2, 5, 7]

Cuidado que o python começa a partir do 0, ou seja, na lista2 só iria até o elemento do indice [2].

Você também consegue filtrar os elementos dentro dos indices, como podemos ver abaixo:

In [15]:
lista2[1][2]

4

In [17]:
select = lista2[1]
print(select)

[2, 3, 4]

In [18]:
type(select)

list

In [19]:
select02 = lista2[0][2]
print(select02)

3

In [20]:
type(select02)

int

Listas com função

In [26]:
import random 
cidades = ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre']
escolhida = random.choice(cidades)
print('A cidade escolhida é:',escolhida)

A cidade escolhida é: São Paulo

A função random.choice sorteia algo, número, string e etc...

In [28]:
a = [1,2,3]

append = adiciona um novo elemento no finl da lista.

In [29]:
a.append(15)

In [31]:
b = [2,3,4]

E se eu agora? Como fariamos um a+b?

In [32]:
for item in b:
  a.append(item)
print(a)

[1, 2, 3, 15, 2, 3, 4]

Transformando número em variável

In [33]:
num = 8

In [34]:
type(num)

int

In [35]:
float(num)

8.0

Convertendo elementos de uma lista de número para inteiro

In [40]:
lista = [1, 2, 3]

In [41]:
float_list = []
for item in lista:
    float_list.append(float(item))
    
print(float_list)

[1.0, 2.0, 3.0]



---