<a href="https://colab.research.google.com/github/Zaine-eng/Python-machine-learning/blob/main/Estudos02_biblioteca_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Manipulando dataframes - pandas**

In [1]:
import pandas as pd

In [7]:
alunosdic = {'Nome': ['Ricardo', 'Pedro', 'Roberto', 'Carlos', 'Bruno'], 
           'Nota': [ 4, 8, 5.5, 9, 7.5],
          'Aprovado': ['Não','Sim', 'Não', 'Sim', 'Sim']}

In [8]:
alunosdf = pd.DataFrame(alunosdic)

Comandos úteis que ajudam a explorar o dataframe.

In [9]:
print(alunosdf)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   8.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim
4    Bruno   7.5      Sim

Comando head() você tem uma visualização melhor dos seu dataframe e das suas linhas - dados organizados.

In [10]:
alunosdf.head()

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   8.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim
4    Bruno   7.5      Sim

Comando shape - nos fala quantas linhas e quantas colunas existem no dataframe.

In [11]:
alunosdf.shape

(5, 3)

Comando describe() - mostra as informações sobre as variáveis.

In [12]:
alunosdf.describe()

           Nota
count  5.000000
mean   6.800000
std    2.018663
min    4.000000
25%    5.500000
50%    7.500000
75%    8.000000
max    9.000000

filtrando linhas e colunas no dataframe

In [13]:
print(alunosdf)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   8.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim
4    Bruno   7.5      Sim

In [14]:
alunosdf['Nome']

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
4      Bruno
Name: Nome, dtype: object

O comando loc[] puxa a linha do índice do seu dataframe que você deseja visualizar melhor ou a partir dai, utilizar de alguma maneira.

In [16]:
alunosdf.loc[[0]]

      Nome  Nota Aprovado
0  Ricardo   4.0      Não

Veja que o comando pode ser usado como lista.

In [18]:
alunosdf.loc[[0,2]]

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
2  Roberto   5.5      Não

In [20]:
alunosdf.loc[0:2]

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   8.0      Sim
2  Roberto   5.5      Não

Agora, vamos fazer o seguinte, vamos escolher um nome e a partir dele vamos especificar mais uma informação:

In [22]:
alunosdf.loc[ alunosdf['Aprovado']== 'Sim' ]

     Nome  Nota Aprovado
1   Pedro   8.0      Sim
3  Carlos   9.0      Sim
4   Bruno   7.5      Sim

Agora vamos ver como podemos criar e manipular dataframe a partir de seleções de linhas.

In [24]:
df_primeiraslinhas = alunosdf.loc[0:2]

In [29]:
print(df_primeiraslinhas)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   8.0      Sim
2  Roberto   5.5      Não

In [30]:
novoDF = alunosdf.loc[alunosdf['Nota']== 9]

In [31]:
print(novoDF)

     Nome  Nota Aprovado
3  Carlos   9.0      Sim

O símbolo de diferente pode ser selecionado para excluir uma linha, como exemplo podemos observar abaixo:

In [33]:
novoDF02 = alunosdf.loc[alunosdf['Nota']!= 9]
print(novoDF02)

      Nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   8.0      Sim
2  Roberto   5.5      Não
4    Bruno   7.5      Sim

Veja que os valores mostrados acima possuem todos os dados do dataframe intitulado como df, menos as linhas correspondentes a nota 9.

Abaixo vemos um novo dataframe criado a partir dos alunos considerados aprovados.

In [35]:
alunos_reprovadosdf = alunosdf.loc[alunosdf['Aprovado'] == 'Sim']

print(alunos_reprovadosdf)

     Nome  Nota Aprovado
1   Pedro   8.0      Sim
3  Carlos   9.0      Sim
4   Bruno   7.5      Sim



---